<h1 mat-dialog-title>Nova Live</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="liveForm">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="liveName" name="liveName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nome do Canal</mat-label>
      <input matInput formControlName="channelName" name="channelName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>LinkCompleto</mat-label>
      <input matInput formControlName="liveLink" name="liveLink">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="createLive()">Adicionar Live</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>
